registry=https://artifactory.marriott.com/artifactory/api/npm/npm/
//artifactory.marriott.com/artifactory/api/npm/:always-auth=true
//artifactory.marriott.com/artifactory/api/npm/:_authToken=${ARTIFACTORY_TOKEN}
@marriott:registry=https://artifactory.marriott.com/artifactory/api/npm/npm/